body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 80%; 
}

.header {box-shadow: 0 2px 10px #C4C4C4;}

.header__grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    
}

.header__grid>div:first-of-type input {
    width: 60%;
}

.header__grid>div:last-of-type {
    justify-self: end;
    display: flex;
}

.partners__inner{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.partners__inner .title{
    justify-self: start;
    
}

.partners__inner .partners__search {
    justify-self: end;
    
}

.partners__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.background {
    background-image: url("../Images/pic.png");
    height: 140px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.partners__card .info {
    display: flex;
}